<%= form_for photo do |f| %>
  <h4><%= f.label :artist %><br>
  <h4><%= f.text_field :artist %>

  <h4><%= f.label :title %><br>
  <h4><%= f.text_field :title %>

  <h4><%= f.label :photo %><br>
  <h4><%= f.text_field :photo %>

  <h4><%= f.submit %></h4>
<% end %>
