<%= form_for photo do |f| %>
  <h4><%= f.label :artist %>
      <%= f.text_field :artist %></h4>

  <h4><%= f.label :title %>
      <%= f.text_field :title %></h4>

  <h4><%= f.label :photo %>
      <%= f.text_field :photo %></h4>

  <h4><%= f.submit %></h4>
<% end %>
