<div class="single">
  <a href="<%= photo_url(p) %>"><img src="<%= p.photo %>" alt=""></a>
  <h2><%= p.title %></h2>
  <h3><%= p.artist %></h3>
  <h4><a href="<%= photo_path(p) %>#comments_section"><%= p.comments.count %> Comments </a></h4>
</div>
