<section class="show">
  <%= render 'single_photo', p: @photo %>

  <% if current_user == @photo.user %>
    <div class="links">
      <%= link_to('Edit Photo', edit_photo_path) %> |

      <%= link_to('Delete', photo_path(@photo), method: :delete, data: {confirm: "Are you sure you want to delete this photo?"})  %>
    </div>
  <% end %>

  <div class="comments" id="comments_section">
    <h1 class="label">Comments:</h1>
    <ul>
      <li>
        <% @photo.comments.each do |comment| %>
          <h4><%= comment.name %>:
              <%= comment.comment %>

            <span>
              <%= link_to('Edit', edit_photo_comments_path(@photo, comment)) %> |

              <%= link_to('Delete', photo_comments_path(@photo, comment), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"})  %>
            </span>
          </h4>
        <% end %>
      </li>
    </ul>

    <div class="comments_form">
      <%= render 'comments/comments_form' %>
    </div>
  </div>
</section>
